.container {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
}
.form {
  width: 20%;
  padding: 10px;
  float: left;
  margin-right: 10px;
}
.canvas {
  width: 75%;
  min-height: 500px;
  float: left;
  padding: 10px;
}



header {
  margin-top: 0;
  margin-bottom: 10px;
  height: 60px;
  text-align: center;
}

body {
  font-family: "Roboto";
  background-color: #EEEEEE;
}